*~
*.orig
*.pyc
*.pyo
.idea/*
.hg/*
.hgignore
.hgeol
.deps
*.project
*#
.#*
.DS_Store
.Python
bin/*
lib/*
include/*
nose_settings.py
*.log
*.pot
*.pyc
local_settings.py
build/*
dist/*
django_testdriver.egg-info/*
