include django-testdriver/JsTestDriver.jar
include django-testdriver/jsTestDriver.conf

recursive-include django-testdriver/static *
recursive-include django-testdriver/management *
recursive-include django-testdriver/plugins *
recursive-include django-testdriver/templates *
recursive-include django-testdriver/tests *